@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@source '../js/Pages/**/*.vue';
@theme {
    --color-primary: #FF6767;
    --color-secondary: #747474;
    --font-inter: 'Inter', sans-serif;
}
body {
    font-family: var(--font-inter);
}